# App
NEXT_PUBLIC_APP_NAME=""
NEXT_PUBLIC_APP_URL=""

# Database
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/mobile_detail"

# Auth
AUTH_SECRET=""

# Seeded Admin
ADMIN_EMAIL=""
ADMIN_PASSWORD=""
